*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000;
    color: #fff;
  
}

.page-container{
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 6%;
    /* border: 1px solid red; */
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center

}

.logo{
    width: 10%;
 

}

.logo > img{
    width: 100%;
    border-radius: 50%;
}

.cta-btn{
    padding: 10px 15px;
    background-color: rgb(65, 81, 255);
    color: #fff;
    border: none;
    border-radius: 8px;
}

.hero-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: auto;
    font-family: "Inter", sans-serif;
}

.hero-heading{
    margin: 26px 0px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.social-links{
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-top: 25px;

    
}

.social-links > a{
    text-decoration: none !important;
    color: #fff;
    font-family: "Inter", sans-serif;

}


@media screen and (max-width:435px) {
   .page-container{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 6%;
    /* border: 1px solid red; */
}

}